<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Wurst Bar - Ypsilanti</title>
    <link rel="stylesheet" href="../../css/admin-styles.css" />
    <script src="../../js/vendor/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300,300italic,400italic,600italic,700italic,800italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    
    <!-- TOP BAR -->
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="../../dashboard.html">The Wurst Bar - Ypsilanti</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">Affiliates</a>
            <ul class="dropdown">
              <li class="divider"></li>
              <li><a href="atlas-create-new-affiliate.html">Create New Affiliate</a></li>
              <li class="divider"></li>
              <li><a href="atlas-manage-affiliates.html" class="active">Manage Affiliates</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">Item Managment</a>
            <ul class="dropdown">
              <li class="divider"></li>
              <li><a href="#">New Item Requests</a></li>
              <li class="divider"></li>
              <li><a href="#">Manage Items</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown"><a href="#">Advertisers</a>
            <ul class="dropdown">
              <li class="divider"></li>
              <li><a href="#">Create New Account</a></li>
              <li class="divider"></li>
              <li><a href="#">Manage Accounts</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li><a href="#">Analytics</a></li>
          <li class="divider"></li>
          <li><a href="#">Help Requests</a>
          </li>
        </ul>
      </section>
    </nav>
    <!-- END TOP BAR -->

    <article class="row admin-interface">
      <div class="medium-12 large-12 columns">
        <div class="module">

          <h2>Wurst Bar</h2>
          <table class="module-table">

            <!-- Affilate Contact Information Table -->
            <thead>
              <tr>
                <th colspan="8">CONTACT INFORMATION</th>
              </tr>
            </thead>

            <tbody class="affiliate-profile-table">
              <tr>
                <td class="header-field text-right">ESTABLISHMENT NAME<br></td>
                <td colspan="8">The Wurst Bar<a href="">&nbsp;&nbsp;edit</a></td>
              </tr>
              <tr>
                <td class="header-field text-right">ADDRESS</td>
                <td colspan="3">123 Cross W St<a href="">&nbsp;&nbsp;edit</a></td>
                <td colspan="2">Ypsilanti<a href="">&nbsp;&nbsp;edit</a></td>
                <td>MI<a href="">&nbsp;&nbsp;edit</a></td>
                <td>48197<a href="">&nbsp;&nbsp;edit</a></td>
              </tr>
              <tr>
                <td class="header-field text-right">PRIMARY CONTACT</td>
                <td colspan="8">Jessey Anyname<a href="">&nbsp;&nbsp;edit</a></td>
              </tr>
              <tr>
                <td class="header-field text-right">PRIMARY PHONE</td>
                <td colspan="8">734-123-1234<a href="">&nbsp;&nbsp;edit</a></td>
              </tr>
              <tr>
                <td class="header-field text-right">PRIMARY EMAIL</td>
                <td colspan="8">email@aplace.com<a href="">&nbsp;&nbsp;edit</a></td>
              </tr>
              <tr>
                <td class="header-field text-right">SECONDARY CONTACT</td>
                <td colspan="8">Kelli Anyname<a href="">&nbsp;&nbsp;edit</a></td>
              </tr>    
              <tr>
                <td class="header-field text-right">SECONDARY PHONE</td>
                <td colspan="8">734-123-1234<a href="">&nbsp;&nbsp;edit</a></td>
              </tr>
              <tr>
                <td class="header-field text-right">SECONDARY EMAIL</td>
                <td colspan="8">email2@aplace.com<a href="">&nbsp;&nbsp;edit</a></td>
              </tr>
              <tr>
                <td class="header-field text-right">WEBSITE</td>
                <td colspan="8">www.wurstbarypsi.com<a href="">&nbsp;&nbsp;edit</a></td>
              </tr>
              <tr>
                <td class="header-field text-right">CORP NAME</td>
                <td colspan="7">Wursts Corp LLC<a href="">&nbsp;&nbsp;edit</a></td>
              </tr>
              <tr>
                <td class="header-field text-right">CORP ADDRESS</td>
                <td colspan="3">123 Cross W St<a href="">&nbsp;&nbsp;edit</a></td>
                <td colspan="2">Ypsilanti<a href="">&nbsp;&nbsp;edit</a></td>
                <td>MI<a href="">&nbsp;&nbsp;edit</a></td>
                <td>48197<a href="">&nbsp;&nbsp;edit</a></td>
              </tr>
              <tr>
                <td class="header-field text-right">CORPORATION CONTACT</td>
                <td colspan="7">Linda Jones<a href="">&nbsp;&nbsp;edit</a></td>
              </tr>
              <tr>
                <td class="header-field text-right">CORPORATION EMAIL</td>
                <td colspan="7">lindajones@thewurstbar.com<a href="">&nbsp;&nbsp;edit</a></td>
              </tr>
              <tr>
                <td class="header-field text-right">CORPORATION PHONE</td>
                <td colspan="7">734-123-1234<a href="">&nbsp;&nbsp;edit</a></td>
              </tr>
              <tr>
                <td colspan="8"></td>
              </tr>
            </tbody>
            <!-- End Affilate Contact Information Table -->

            <!-- Establishment Information Table -->
            <thead>
              <tr>
                <th colspan="8">ESTABLISHMENT INFORMATION</th>
              </tr>
            </thead>
             <tbody class="affiliate-profile-table">
              <tr>
                <td class="header-field text-right">CONTRACT PERIOD</td>
                <td colspan="1">Start<br>04/13/2014</td>
                <td colspan="7">End<br>04/13/2016</td>
              </tr>
              <tr>
                <td class="header-field text-right">GEO</td>
                <td colspan="1">State<br>MI</td>
                <td colspan="2">CSA<br>Detroit-Warren-Ann Arbor</td>
                <td colspan="2">MSA<br>Ann Arbor</td>
                <td colspan="2">MICRO<br>N/A</td>
              </tr>
              <tr>
                <td class="header-field text-right">TABLETS</td>
                <td colspan="1">Tablet Count<br>40<a href="">&nbsp;&nbsp;edit</a></td>
                <td colspan="7">Tablet Type<br>HKC<a href="">&nbsp;&nbsp;edit</a></td>
              </tr>
              <tr>
                <td class="header-field text-right">SEATING CAPACITY</td>
                <td colspan="7">200<a href="">&nbsp;&nbsp;edit</a></td>
              </tr>
              <tr>
                <td class="header-field text-right">HOURS OF OPERATION</td>
                <td colspan="1">Monday:<br>11:00 - 22:00</td>
                <td colspan="1">Tuesday:<br>11:00 - 22:00</td>
                <td colspan="1">Wednesday:<br>11:00 - 22:00</td>
                <td colspan="1">Thursday:<br>11:00 - 22:00</td>
                <td colspan="1">Friday:<br>11:00 - 22:00</td>
                <td colspan="1">Saturday:<br>11:00 - 22:00</td>
                <td colspan="1">Sunday:<br>11:00 - 22:00</td>
              </tr>
              <tr>
                <td class="header-field text-right">YEAR ESTABLISHED</td>
                <td colspan="7">2010<a href="">&nbsp;&nbsp;edit</a></td>
              </tr>
              <tr>
                <td class="header-field text-right">PRICE POINT</td>
                <td colspan="7">$$$<a href="">&nbsp;&nbsp;edit</a></td>
              </tr>
              <tr>
                <td class="header-field text-right">ENVIROMENT</td>
                <td colspan="8">Casual<a href="">&nbsp;&nbsp;edit</a></td>
              </tr>
              <tr>
                <td class="header-field text-right">AGE DEMOGRAPHICS</td>
                <td colspan="8">25-34<a href="">&nbsp;&nbsp;edit</a></td>
              </tr>
              <tr>
                <td class="header-field text-right">SPECIAL CHARACTERISTICS</td>
                <td colspan="8">Craft Beer, College Bar<a href="">&nbsp;&nbsp;edit</a></td>
              </tr>
              <tr>
                <td colspan="8"></td>
              </tr>
            </tbody>
            <!-- End Establishment Information Table -->

            <!-- Affiliate Analytics Table -->
            <thead>
              <tr>
                <th colspan="8">AFFILIATE ANALYTICS</th>
              </tr>
            </thead>
            <tbody class="affiliate-profile-table">
              <tr>
                <td class="header-field text-right">DRINK ITEMS</td>
                <td colspan="">Bottled Beers<br>72&nbsp;&nbsp;<span class="analytics-change-positive">+3 (4%)</span></td>
                <td colspan="">Draft Beers<br>24&nbsp;&nbsp;<span class="analytics-change-neutral">(0%)</span></td>
                <td colspan="">Wines<br>5&nbsp;&nbsp;<span class="analytics-change-negative">-1 (20%)</span></td>
                <td colspan="">Spirits<br>187&nbsp;&nbsp;<span class="analytics-change-positive">+5 (2%)</span></td>
                <td colspan="3">TOTAL DRINK ITEMS<br>288&nbsp;&nbsp;<span class="analytics-change-positive">+7 (2%)</span></td>
              </tr>
              <tr>
                <td class="header-field text-right">DRINK PAGE VIEWS (weekly)</td>
                <td colspan="">Bottled Beers<br>6720&nbsp;&nbsp;<span class="analytics-change-positive">+3 (4%)</span></td>
                <td colspan="">Draft Beers<br>7431&nbsp;&nbsp;<span class="analytics-change-positive">+3 (4%)</span></td>
                <td colspan="">Wines<br>1476&nbsp;&nbsp;<span class="analytics-change-positive">+3 (4%)</span></td>
                <td colspan="">Spirits<br>5742&nbsp;&nbsp;<span class="analytics-change-positive">+3 (4%)</span></td>
                <td colspan="1">DRINK PAGE VIEWS<br>21369&nbsp;&nbsp;<span class="analytics-change-positive">+3 (4%)</span></td>
                <td colspan="2">% ALL PAGE VIEWS<br>21369(84174)&nbsp;&nbsp;<span class="analytics-change-positive">(25%)</span></td>
              </tr>
              <tr>
                <td class="header-field text-right">ADD IMPRESSIONS (weekly)</td>
                <td colspan="">Bottled Beers<br>6720&nbsp;&nbsp;<span class="analytics-change-positive">+3 (4%)</span></td>
                <td colspan="">Draft Beers<br>7431&nbsp;&nbsp;<span class="analytics-change-positive">+3 (4%)</span></td>
                <td colspan="">Wines<br>1476&nbsp;&nbsp;<span class="analytics-change-positive">+3 (4%)</span></td>
                <td colspan="">Spirits<br>5742&nbsp;&nbsp;<span class="analytics-change-positive">+3 (4%)</span></td>
                <td colspan="">Featured Page<br>5742&nbsp;&nbsp;<span class="analytics-change-positive">+3 (4%)</span></td>
                <td colspan="2">TOTAL IMPRESSIONS<br>21369&nbsp;&nbsp;<span class="analytics-change-positive">+3 (4%)</span></td>
              </tr>
              <tr>
                <td class="header-field text-right">CLICK THROUGHS (weekly)</td>
                <td colspan="">Bottled Beers<br>6720&nbsp;&nbsp;<span class="analytics-change-positive">+3 (4%)</span></td>
                <td colspan="">Draft Beers<br>7431&nbsp;&nbsp;<span class="analytics-change-positive">+3 (4%)</span></td>
                <td colspan="">Wines<br>1476&nbsp;&nbsp;<span class="analytics-change-positive">+3 (4%)</span></td>
                <td colspan="">Spirits<br>5742&nbsp;&nbsp;<span class="analytics-change-positive">+3 (4%)</span></td>
                <td colspan="">Featured Page<br>5742&nbsp;&nbsp;<span class="analytics-change-positive">+3 (4%)</span></td>
                <td colspan="2">TOTAL CLICK THROUGHS<br>21369&nbsp;&nbsp;<span class="analytics-change-positive">+3 (4%)</span></td>
              </tr>
              <tr>
                <td colspan="8"></td>
              </tr>
            </tbody>
            <!-- End Affiliate Analytics Table -->

            <!-- Live Menu -->
            <thead>
              <tr>
                <th colspan="8">LIVE MENU</th>
              </tr>
            </thead>
            <tbody class="affiliate-profile-table">
              <tr>
                <td style="vertical-align:text-top;" class="header-field text-right">MENU</td>
                <td colspan="8"><iframe src="http://space.wccnet.edu/~cacollins/DIGITAL%20MENU/" width="768" height="1024"></iframe></td>
              </tr>
              <tr>
                <td colspan="8"></td>
              </tr>
            </tbody>
            <!-- End Establishment Information Table -->
          
          </table>

        </div>
      </div>

    </article>

    <script src="../../js/vendor/jquery.js"></script>
    <script src="../../js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
