<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - Atlas Digital Menus</title>
    <link rel="stylesheet" href="../../css/admin-styles.css" />
    <script src="../../js/vendor/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300,300italic,400italic,600italic,700italic,800italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    
    <!-- TOP BAR -->
    <div class="fixed">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Dashboard</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">Affiliates</a>
            <ul class="dropdown">
              <li class="divider"></li>
              <li><a href="affiliates/create-new-affiliate.html">Create New Affiliate</a></li>
              <li class="divider"></li>
              <li><a href="affiliates/manage-affiliates.html">Manage Affiliates</a></li>
              <li class="divider"></li>
              <li><a href="">Stale Menus</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#">Item Managment</a>
            <ul class="dropdown">
              <li class="divider"></li>
              <li><a href="#">Manage Items</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown"><a href="#">Advertisers</a>
            <ul class="dropdown">
              <li class="divider"></li>
              <li><a href="#">Create New Account</a></li>
              <li class="divider"></li>
              <li><a href="#">Manage Accounts</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li><a href="#">Analytics</a></li>
          <li class="divider"></li>
          <li><a href="#">Notifications</a></li>
        </ul>
      </section>
    </nav>
    </div>


    <article class="row admin-interface">

      <!-- STALE AFFILIATES MODULE -->
      <div class="medium-6 large-6 columns">
        <div class="module">

          <h2>Stale Menus <small><a href="">Expand</small></a></h2>
          <table class="module-table">
            <thead>
              <tr>
                <th width="20%">Days</th>
                <th width="100%">Location</th>
                <th width="20%">View</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">68<small> Days</small></td>
                <td><small>Ypsilanti, Michigan</small><br>Red Rock Bar and Grill</td>
                <td class="text-center"><a href="">View</a></td>
              </tr>
              <tr>
                <td class="text-center">68<small> Days</small></td>
                <td><small>Ypsilanti, Michigan</small><br>Red Rock Bar and Grill</td>
                <td class="text-center"><a href="">View</a></td>
              </tr>
              <tr>
                <td class="text-center">68<small> Days</small></td>
                <td><small>Ypsilanti, Michigan</small><br>Red Rock Bar and Grill</td>
                <td class="text-center"><a href="">View</a></td>
              </tr>
              <tr>
                <td class="text-center">68<small> Days</small></td>
                <td><small>Ypsilanti, Michigan</small><br>Red Rock Bar and Grill</td>
                <td class="text-center"><a href="">View</a></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
      <!-- END STALE AFFILIATES MODULE -->

      <!-- NEW ITEM REQUESTS-->
      <div class="medium-6 large-6 columns new-item-requests">
        <div class="module">

          <h2>New Item Requests <small><a href="">Expand</a></small></h2>
          <table class="module-table">
            <thead>
              <tr>
                <th width="20%">Hours</th>
                <th width="100%">Item</th>
                <th width="20%">View</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">2<small> Hours</small></td>
                <td><small>Bottled Beer, Lagers</small><br>Bud Light</td>
                <td class="text-center"><a href="">View</a></td>
              </tr>
              <tr>
                <td class="text-center">2<small> Hours</small></td>
                <td><small>Bottled Beer, Lagers</small><br>Bud Light</td>
                <td class="text-center"><a href="">View</a></td>
              </tr><tr>
                <td class="text-center">2<small> Hours</small></td>
                <td><small>Bottled Beer, Lagers</small><br>Bud Light</td>
                <td class="text-center"><a href="">View</a></td>
              </tr><tr>
                <td class="text-center">2<small> Hours</small></td>
                <td><small>Bottled Beer, Lagers</small><br>Bud Light</td>
                <td class="text-center"><a href="">View</a></td>
              </tr>
            </tbody>
          </table>
             
        </div>
      </div>
      <!-- END NEW ITEMS REQUEST -->

      <!-- GLOBAL ANALYTICS -->
      <div class="medium-6 large-6 columns global-analytics">
        <div class="module analytical">

          <h2>Global Analytics <small><a href="">Expand</a></small></h2>
          <table class="module-table">
            <thead>
              <tr>
                <th width="20%">Value</th>
                <th width="100%">Property</th>
                <th width="20%">View</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">90.8k</td>
                <td><small>Weekly</small><br>Total Page Views</td>
                <td class="text-center"><a href="">View</a></td>
              </tr>
              <tr>
                <td class="text-center">57.7k</td>
                <td><small>Weekly</small><br>Drink Page Views</td>
                <td class="text-center"><a href="">View</a></td>
              </tr><tr>
                <td class="text-center">5%</td>
                <td><small>Weekly</small><br>Drink Pages with 0 ad views</td>
                <td class="text-center"><a href="">View</a></td>
              </tr><tr>
                <td class="text-center">2.75</td>
                <td><small>Weekly</small><br>Avg # of Drink Pages Visited</td>
                <td class="text-center"><a href="">View</a></td>
              </tr>
            </tbody>
          </table>
             
        </div>
      </div>
      <!-- END GLOBAL ANALYTICS -->

      <!-- TRENDING ITEMS -->
      <div class="medium-6 large-6 columns trending-items">
        <div class="module time-sensitive">

          <h2>Trending Items <small><a href="">Expand</a></small></h2>
          <table class="module-table">
            <thead>
              <tr>
                <th width="20%">Change</th>
                <th width="100%">Item</th>
                <th width="20%">View</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">541<small> Adds</small></td>
                <td><small>Popular Item</small><br>Soft Parade</td>
                <td class="text-center"><a href="">View</a></td>
              </tr>
              <tr>
                <td class="text-center">2047<small> Views</small></td>
                <td><small>High Interest Item</small><br>Two James Rye Whiskey</td>
                <td class="text-center"><a href="">View</a></td>
              </tr>
              <tr>
                <td class="text-center">748<small> Deletes</small></td>
                <td><small>Unpopular Item</small><br>Valentine White Blossom</td>
                <td class="text-center"><a href="">View</a></td>
              </tr>
              <tr>
                <td class="text-center">13<small> Views</small></td>
                <td><small>Low Interest Item</small><br>Soft Parade</td>
                <td class="text-center"><a href="">View</a></td>
              </tr>
            </tbody>
          </table>
             
        </div>
      </div>
      <!-- END TRENDING ITEMS -->

      <!-- Advertising -->
      <div class="medium-6 large-6 columns advertising">
        <div class="module analytical">

          <h2>Advertising <small><a href="">Expand</a></small></h2>
          <table class="module-table">
            <thead>
              <tr>
                <th width="20%">Value</th>
                <th width="100%">Property</th>
                <th width="20%">View</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">$.03</td>
                <td><small>Weekly</small><br>Avg Impresson Ad Cost</td>
                <td class="text-center"><a href="">View</a></td>
              </tr>
              <tr>
                <td class="text-center">4.25k</td>
                <td><small>Weekly</small><br>Ad Impressions</td>
                <td class="text-center"><a href="">View</a></td>
              </tr>
              <tr>
                <td class="text-center">213</td>
                <td><small>Weekly</small><br>Click Throughs</td>
                <td class="text-center"><a href="">View</a></td>
              </tr>
              <tr>
                <td class="text-center">874</td>
                <td><small>Total</small><br>Active Campaigns</td>
                <td class="text-center"><a href="">View</a></td>
              </tr>
            </tbody>
          </table>
             
        </div>
      </div>
      <!-- END Advertising -->

      <!-- HELP REQUESTS -->
      <div class="medium-6 alarge-6 columns help-requests">
        <div class="module time-sensitive">

          <h2>Help Requests <small><a href="">Expand</small></a></h2>
          <table class="module-table">
            <thead>
              <tr>
                <th width="20%">Age</th>
                <th width="100%">Issue</th>
                <th width="20%">View</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">26<small> Mins</small></td>
                <td><small>Red Rock Bar and Grill</small><br>Can't create new account</td>
                <td class="text-center"><a href="">View</a></td>
              </tr>
              <tr>
                <td class="text-center">26<small> Mins</small></td>
                <td><small>Red Rock Bar and Grill</small><br>Can't create new account</td>
                <td class="text-center"><a href="">View</a></td>
              </tr><tr>
                <td class="text-center">26<small> Mins</small></td>
                <td><small>Red Rock Bar and Grill</small><br>Can't create new account</td>
                <td class="text-center"><a href="">View</a></td>
              </tr><tr>
                <td class="text-center">26<small> Mins</small></td>
                <td><small>Red Rock Bar and Grill</small><br>Can't create new account</td>
                <td class="text-center"><a href="">View</a></td>
              </tr>
            </tbody>
          </table> 
             
        </div>
      </div>
      <!-- END STALE AFFILIATES MODULE -->

    </article>
    
    <script src="../../js/vendor/jquery.js"></script>
    <script src="../../js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
