<nav class="top-bar" data-topbar ng-controller="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#/dashboard">{{title}}</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="">Affiliates</a>
            <ul class="dropdown">
              <li class="divider"></li>
              <li><a href="#/affiliateCreate">Create New Affiliate</a></li>
              <li class="divider"></li>
              <li><a href="#/affiliateManage">Manage Affiliates</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="">Item Managment</a>
            <ul class="dropdown">
              <li class="divider"></li>
              <li><a href="#/">New Item Requests</a></li>
              <li class="divider"></li>
              <li><a href="#/itemManage">Manage Items</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li class="has-dropdown"><a href="">Advertisers</a>
            <ul class="dropdown">
              <li class="divider"></li>
              <li><a href="#/">Create New Account</a></li>
              <li class="divider"></li>
              <li><a href="#/">Manage Accounts</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li><a href="#/accountManage">Manage Accounts</a></li>
          <li class="divider"></li>
          <li><a href="#/">Analytics</a></li>
          <li class="divider"></li>
          <li class="has-dropdown"><a href="">Help Requests</a>
            <ul class="dropdown">
              <li class="divider"></li>
              <li><a href="#/">Affiliate Help Requests</a></li>
              <li class="divider"></li>
              <li><a href="#/">Advertiser Help Requests</a></li>
            </ul>
          </li>
        </ul>
      </section>