<article class="row admin-interface">

      <!-- MODULE -->
      <div class="small-12 medium-6 large-6 push-3 columns">
        <h2>Thank you for choosing Atlas Digital Menus</h2>
        <p>Please check you primary email account for your temporary username and password. Because we care about your security, we require you to change them before you proceed.</p>
        <div class="module">
          <h2>Change Username &amp; Password</h2>
          <form class="module-form">
            <label>Enter Provided Username         
            <input type="text" placeholder="username" ng-model="user.old_username">
            </label>
            <label>Enter Provided Password 
            <input type="password" placeholder="password" ng-model="user.old_password">
            </label>
            <br>
            <label>Create New Username 
            <input type="text" placeholder="New Username" ng-model="user.username">
            </label>
            <label>Create New Password
            <input type="password" placeholder="New Password" ng-model="user.password">
            <label>Verify New Password
            <input type="password" placeholder="New Password" ng-model="user.vpassword">
            </label>
            <br>
            <a class="module-button text-center" ng-click="update(user)">Submit</a>
          </form>
        </div>
        <h4>Having trouble loging in?</h4>
        <a href="">click here</a>
      </div>
      <!-- END MODULE -->

    </article> 