<article class="row admin-interface">
      <!-- STALE AFFILIATES MODULE -->
          <div class="medium-6 large-6 push-3 columns">
            <div class="module">

              <h2>Create New Affiliate</h2>
              <form class="module-form">
                <fieldset>
                  <legend>Affiliate Information</legend>
                  <label for="affiliate-name">Establishment Name</label><input type="text" ng-model="affiliate.name" />
                  <label for="affiliate-street">Street</label><input type="text" ng-model="affiliate.street" />
                  <label for="affiliate-city">City</label><input type="text" ng-model="affiliate.city" />
                  <label for="affiliate-state">State</label><input type="text" ng-model="affiliate.state" />
                  <label for="affiliate-zip">Zip Code</label><input type="number" ng-model="affiliate.zip" />
                  <label for="affiliate-primary-contact">Primary Contact</label><input type="tel" ng-model="affiliate.primary_contact" />
                  <label for="affiliate-primary-telephone">Primary Telephone</label><input type="tel" ng-model="affiliate.primary_phone" />
                  <label for="affiliate-primary-email">Primary Email</label><input type="email" ng-model="affiliate.primary_email" />
                  <label for="affiliate-secondary-contact">Secondary Contact</label><input type="tel" ng-model="affiliate.secondary_contact" />
                  <label for="affiliate-secondary-telephone">Secondary Telephone</label><input type="tel" ng-model="affiliate.secondary_phone" />
                  <label for="affiliate-secondary-email">Secondary Email</label><input type="email" ng-model="affiliate.secondary_email" />
                  <label for="affiliate-website-address">Website</label><input type="email" ng-model="affiliate.website" />
                  <label for="affiliate-tablet-type">Tablet Type</label><input type="number" ng-model="affiliate.tablet_type" />
                  <label for="affiliate-tablet-count">Tablet Count</label><input type="number" ng-model="affiliate.tablet_count" />
                  <label for="affiliate-contract-start-date">Contract Start Date</label><input type="date" ng-model="affiliate.contract_start_date" />
                  <label for="affiliate-contract-end-date">Contract End Date</label><input type="date" ng-model="affiliate.contract_end_date" />
                  <label for="affiliate-corporation-name">Corporation Name</label><input type="text" ng-model="affiliate.corporation_name" />
                  <label for="affiliate-corporation-street">Corporation Street</label><input type="text" ng-model="affiliate.corporation_street" />
                  <label for="affiliate-corporation-city">Corporation City</label><input type="text" ng-model="affiliate.corporation_city" />
                  <label for="affiliate-corporation-state">Corporation State</label><input type="text" ng-model="affiliate.corporation_state" />
                  <label for="affiliate-corporation-zip">Corporation Zip Code</label><input type="number" ng-model="affiliate.corporation_zip" />
                  <label for="affiliate-corporation-contact">Corporation Contact</label><input type="text" ng-model="affiliate.corporation_contact" />
                  <label for="affiliate-corporation-email">Corporation Email</label><input type="email" ng-model="affiliate.corporation_email" />
                  <label for="affiliate-corporation-phone">Corporation Phone</label><input type="tel" ng-model="affiliate.corporation_phone" />
                  <a class="button" name="submit-new-affiliate-form" ng-click="create(affiliate)">Create New Affiliate</a>
                </fieldset>
              </form>
             
            </div>
          </div>
          <!-- END STALE AFFILIATES MODULE -->


    </article>