<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Affiliate Administration</title>
    <link rel="stylesheet" href="../../css/admin-styles.css" />
    <script src="../../js/vendor/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300,300italic,400italic,600italic,700italic,800italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    
    <!-- TOP BAR -->
    <!-- GLOBAL NAV -->
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Dashboard - Wurst Bar</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li><a href="">Notifacations</a></li>
          <li class="divider"></li>
          <li><a href="">Analytics</a></li>
          <li class="divider"></li>
          <li><a href="">Manage Accounts</a></li>
          <li class="divider"></li>
          <li class="has-dropdown"><a href="">Help</a>
            <ul class="dropdown">
              <li><a href="#">Walkthroughs</a></li>
              <li class="divider"></li>
              <li><a href="#" data-reveal-id="requestHelpModal">Request Help</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li><a href="">Log Out</a></li>
        </ul>
      </section>
    </nav>
    <!-- END GLOBAL NAV -->
    <!-- END TOP BAR -->

    <article class="row admin-interface">
      <div class="small-12 medium-5 large-6 push-3 columns">

        <!-- Log In -->
        <div class="module">
          <h2>Log In</h2>
          <form class="module-form">
            <input type="text" placeholder="Enter Username">
            <input type="password" placeholder="Enter Password">
            <a class="module-button text-center" href="dashboard.html">Submit</a>
          </form>
        </div>
      <!-- END Log In -->

      </div>
    </article>
    
    <script src="../../js/vendor/jquery.js"></script>
    <script src="../../js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
